#wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    margin: 10px 0;
    max-width: 100%;
    max-height: 80vh;
}

#prevBtn,
#nextBtn {
    padding: 5px 20px;
    font-size: 18px;
    cursor: pointer;
}

#pdfViewer {
    width: 100%;
    height: 88vh;
    border: none;
}
