:root {
    color-scheme: light dark;
}
html,
body {
    height: 100%;
    margin: 0;
}
body {
    font-family:
        system-ui,
        -apple-system,
        Segoe UI,
        Roboto,
        Ubuntu,
        "Helvetica Neue",
        Arial,
        sans-serif;
    display: grid;
    place-items: center;
    background: canvas;
    color: canvastext;
}
#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    object-position: center;
    display: none;
    margin: 20px 0;
}

#prevBtn,
#nextBtn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#prevBtn {
    order: 1;
}

#nextBtn {
    order: 3;
}

#img {
    order: 2;
}
